@import url("https://fonts.googleapis.com/css2? family= Lato:ital,wght@1,300 & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}
body {
  background: url(https://www.hogarmania.com/archivos/202211/razas-de-caballos-espanoles-1280x720x80xX.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.capa {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  top: 0;
  left: 0;
}

/*Estilos del encabezazo*/
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.container .btn-menu,
.logo {
  float: left;
  line-height: 100px;
}
.container .btn-menu label {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.logo h1 {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  margin-left: 10px;
}
.container .menu {
  float: right;
  line-height: 100px;
}

.container .menu img {
  position: absolute;
  max-width: 50px;
  width: 10%;
  height: auto;
  right: 2%;
  top: 20px;
}

.container .menu a {
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 17px;
  margin-right: 5px;
  font-weight: 700;
}
.container .menu a:hover {
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;
}
/*Aca finaliza los estilos del encabezado*/

/*Barra lateral*/
#btn-menu {
  display: none;
}
.container-menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}
.cont-menu {
  width: 100%;
  max-width: 250px;
  background: #1c1c1c;
  height: 100vh;
  position: fixed;
  transition: all 500ms ease;
  transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}
.cont-menu nav {
  transform: translateY(15%);
}
.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}

.cont-menu nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}
.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.redes {
  font-size: 20px;
  color: #af1010;
  text-decoration: overline;
}

/*Fin de la barra lateral*/

/* Estilos para el formulariooooooooooooooooooooooooo ------------------------ */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.Titulo {
  color: rgb(10, 0, 0);
  display: inline-block;
  width: 50%;
  height: 60px;
  margin: 20px;
  margin-left: 25%;
  margin-top: 10%;
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  vertical-align: top;
  font-family: monospace;
}

.enviar {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.enviar:hover {
  background-color: #3e8e41;
}

.opciones {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 25vh;
  margin-left: 18%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.opciones #letraper {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #ffffff;
}

.imagen2 {
  display: flex;
  left: 45%;
  width: 500px;
}

h4 {
  color: #ccc;
  text-align: center;
}

/*Tarjetas*/

.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 10%;
  margin-top: -2%;
}

.cards-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10%;
}

.cards .red {
  background-color: #672913;
}

.cards .red p {
  text-decoration: none;
  color: #fff;
}

.cards .blue {
  background-color: #672913;
}

.cards .blue p {
  text-decoration: none;
  color: #fff;
}

.cards .green {
  background-color: #672913;
}

.cards .green p {
  text-decoration: none;
  color: #fff;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 0.7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(2px);
  transform: scale(0.9, 0.9);
}

/*Aqui finalizan las tarjetas*/

.eltitu {
  display: flex;
  text-align: center;
  color: white;
  margin-top: 8%;
  margin-left: 37%;
}

.mula img {
  flex: 0 0 auto;
  height: 400px;
  width: 638px;
  margin-left: 25%;
  margin-top: -10%;
  border-radius: 20px;
}

.introduccion {
  display: flex;
  border-style: none;
  width: 80%;
  text-align: center;
  margin-left: 9%;
  color: rgb(208, 208, 208);
}

/*Cosas randoms*/

.linea-horizontal {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.496);
  box-shadow: 6px 2px 6px rgb(215, 214, 214);
  margin: 20px 0px;
  margin-top: 10%;
}

/*Aqui inicia la tabla inferior del inicio con el nombre de ...*/

.elti {
  background-image: linear-gradient(to right, #15a5e3, #6f00ff, #8000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 0;
  width: 100%;
  font-size: 35px;
  margin-top: 10px;
  margin-left: 10px;
}

#tablaDiv th {
  background-image: linear-gradient(to right, #15a5e3, #6f00ff, #8000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 0;
  font-size: 26.5px;
}

#tablaDiv td {
  border-style: none;
  border-radius: 10px;
  width: 33.33%;
}

#tablaDiv p {
  font-size: 20;
  line-height: 2;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: #fff;
}

#divPrincipal {
  width: 100%;
  border: 1px solid black;
  margin-top: 10%;
  border-radius: 20px;
  border-color: #515050;
  border-width: 2px;
  box-shadow: 0px 0px 10px rgb(191, 190, 190);
  max-width: 1200px; /* Ajusta el valor según tus necesidades */
  padding: 10px; /* Agrega espaciado interno si lo deseas */
  backdrop-filter: blur(
    10px
  ); /* Ajusta el valor para controlar el nivel de desenfoque */
  background-color: rgba(
    56,
    47,
    47,
    0.5
  ); /* Ajusta el valor alpha para controlar la opacidad */
}

#divPrincipal,
h1 {
  width: 60%;
  text-align: left;
  margin-left: 21%;
  padding: 5px;
}

table {
  border-collapse: separate;
  border-spacing: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 20px;
}

/*Aqui finaliza la tabla inferior del inicio con el nombre de ...*/

section {
  display: flex;
  width: 600px;
  height: 430px;
  margin-left: 25%;
  margin-top: -10%;
}

section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
  border-style: none;
  border-radius: 5px;
}

section img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
